html,body{
  height:100%;
  width: 100%;
}

body {
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(105deg,hsl(273, 75%, 66%),hsl(240, 
  73%, 65%));
  background-repeat: no-repeat;
  font-size: 12px;
  color: hsl(238, 29%, 16%);
  font-weight: 400;
  font-family: 'Kumbh Sans', sans-serif;
 }


*,*::before,*::after{
  box-sizing:border-box;
  margin:0;
  padding: 0;
}


main{
  background-color:#fff;
  display:flex;
  width:80vw;
  height:auto;
  position:relative;
  border-radius: 20px;
}


h1{
  margin:5px 0px;
  font-weight: 700;
  font-size:36px;
} 


.imagesection{ 
 flex-basis:50%;
 background-size:contain;
 background-image:url("images/bg-pattern-desktop.svg");
 background-position:-5vw center; 
 background-repeat: no-repeat;
}


.heroimage{
  position:absolute;
  top:150px;
  left:110px;
  width:150%;
  max-width: 400px;
  box-sizing:border-box;
}

p:first-child{
  display: inline-block;
  margin: 5px 0px;
}

.boxdesktop{
  position: absolute;
  top:280px;
  left:65px;
}

.questandans{
  flex-basis:50%;
  margin:6vh 20vh 10vh 10vh;
  align-self: center;
  }

.faq{
  border-bottom:3px solid hsl(240, 5%, 91%);
  padding:8px;
  }

.faq img{
   float:right;
   padding-top:14px;
   color:hsl(14, 88%, 65%);
}

.active{
  transform:rotate(180deg);
  margin:9px auto 0px;
 }

.bold{
    font-weight:700;
 } 

@media screen and (width <= 375px){
  html,body{
    width:380px;
    height:100%;
    margin:20px auto;
    position: relative;
 }
  
  main{
    display: grid;
    grid-template-columns: 1fr;
}
  
 .questandans{
   display:grid;
   gap:15px;
   grid-area: 1/1;
   padding:0px;
   margin:100px 20px 40px;
}
  
h1{
    margin: 0 auto 20px;
  }
       
  .faq{
    width:100%;
    justify-content:center;
    margin:0px;
  }

  .heroimage{
  top:-60px;
  left:80px;
  position:absolute;
  max-width:55%;
  }
}
